<!-- Modal -->
<div #modals class="modal fade" id="modalpais" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-bs-backdrop="static" role="dialog">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel">Información de {{result?.name?.common}}</h5>

        <img class="imagenmodal" src="{{result?.flags?.png}}" alt="">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>


        
      </div>


      <div class="modal-body">
        <ul>
          <li>
            <div>
              <strong>País:</strong> {{result?.name?.common}}
            </div>
          </li>

          <li>
            <div>
              <strong>Población:</strong> {{result?.population | number}} Hab.
            </div>
            
          </li>

          <li>

            <div>
              <strong>Capital:</strong> {{result?.capital}}
            </div>
            
          </li>

          <li>
            <div>
              <strong>Cca3:</strong> {{result?.cca3}}
            </div>

          </li>
          
        </ul>
      </div>

      <div class="modal-footer">
        <button
        routerLink="/tiempo/{{result?.capital}}"
        type="button" class="btn btn-success" 
        data-bs-dismiss="modal">
          Tiempo {{result?.capital}}
        </button>
      </div>
      
    </div>
  </div>
</div>

<div class="contactoprincipal">

</div>


<!-- DONDE NOS CARGA TODA LA PAGINA -->
<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="dentrosidenav" mode="side">
    <p><strong>HISTORIAL DE PAISES</strong></p>
    <app-historialdepaises></app-historialdepaises>
  </mat-drawer>

  <div class="sidenav">
    
    <!-- BARRA DE NAVEGACIÓN -->
    <div class="barradenavegacion">

      <mat-toolbar class="colorbarradenavegacion">

        <div class="botonsidenav">

          <button type="button" mat-button (click)="drawer.toggle()" >
            <mat-icon style="font-size: x-large ;">menu</mat-icon>
          </button>

        </div>

        <div class="logo">
          <img class="imagenbandera" src="../../../../assets/bandera.png" alt="">
          <div class="nombreapp">
            <strong>FlagsApp</strong>
          </div>
        </div>

        <div class="formularioinput">

          <!-- FORMULARIO -->
          <form class="formfield">
            <mat-form-field class="formfield">

              <!-- DONDE ESTA EL INPUT -->
              <input
              [formControl] = "pais"
              (keyup.enter) = "buscarPais()"
              matInput 
              placeholder="Código pais">

            </mat-form-field>
          </form>

        </div>

        <div *ngIf="control" class="botonatras">
          <button class="btn btn-success" (click)="atras()">Atrás</button>
        </div>

      </mat-toolbar>

    </div>

    <!-- DIV DE LA PAGINAPRINCIPAL DONDE ESTA LAS BANDERAS -->
    <div class="paginapricnipalbanderas">

      <div class="titulopagionaprincipal">
        <h3 style="color: rgb(56, 57, 58);">
          BANDERAS DE PAISES:
        </h3>
      </div>

      <div class="banderaspaises">

        <div class="matcardcadapais">

          <!-- CARD DE TODOS LOS PAISES -->
          <app-cardpais *ngIf="!control" (paises2)="cogerpais($event)"></app-cardpais>

          <!-- CARD DEL PAIS QUE BUSCO -->
          <app-unpais *ngIf="control" [pais]="result2"></app-unpais>

        </div>

      </div>   

    </div>


  </div>
 
</mat-drawer-container>



