.informacionpais{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bandera{
    margin: 1%;
    box-shadow: 0px 0px 20px rgba(21, 29, 184, 0.3);
}



.imagen{
    width: 350px; 
    height:190px;
    transition: all 0.5s;
}

