.paginaprincipal{
    background-color: rgba(0, 4, 247, 0.274);
    border-radius: 0.3rem;
    border: 3px solid rgba(7, 18, 27, 0.299);
}

.contactoprincipal { 
    background-color: rgba(0, 4, 247, 0.489);
    position: fixed;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(100%);
    top: 0px;
    opacity: 0.5;
}


.grafico{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.toolbar{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.toolbarRow{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dostarjetas{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.cardciudad{
    flex-basis: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    margin-right: 30px;
}

.cardciudadgrande{
    flex-basis: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: start;
    margin-left: 30px;
}


.grafico{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 2%;
}

.variastemp{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 5%;
}


@media (max-width: 785px) {

    .toolbarRow{
        display: flex;
        flex-flow: row wrap;
        height: auto;
        align-items: center;
    }

    .nombreapp{
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buscador{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nombreciudad{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dostarjetas{
        display: flex;
        flex-flow: column nowrap;
    }

    .cardciudad{
        flex-basis: 100%;
        margin: 20px;
        display: flex;
        justify-content: center;
        margin-right: 0px;
    }

    .cardciudadgrande{
        flex-basis: 100%;
        margin: 20px;
        display: flex;
        justify-content: center;
        margin-right: 0px;
    }

    .variastemp{
        margin: 5%;
    }

    .grafico{
        display: block;
    }


}

@media (max-width: 465px){

    .toolbarRow{
        display: flex;
        flex-flow: row wrap;
        height: auto;
        align-items: center;
    }

    .nombreapp{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buscador{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: auto;
        margin: 1px;

    }

    .nombreciudad{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: auto;
    }

    .cardciudad{
        margin-right: 4%;
    }

}

@media (max-width: 1215px){

    .variastemp{
        margin: 5%;
    }

}


@media (max-width: 915px){

    .paginaprincipal{
        margin-left: 1%;
    }

    .variastemp{
        margin: 5%;
    }
    

}


@media (max-width: 400px){


    .nombreapp{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nombreciudad{
        display:none;
    }

}





