.informacionpais{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bandera{
    margin: 1%;
    border: 2px solid rgba(0, 0, 0, 0.637);
}

.texto{
    display: flex;
    flex-flow: column nowrap;
    padding: 2%;
}

.imagen{
    width: 300px; 
    height:150px;
    transition: all 0.5s;
}