.mat-dialog-container {
    background-color: #f0f0f0;
    /* fondo del diálogo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.mat-dialog-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.mat-form-field {
    margin-bottom: 20px;
}

.mat-input-element {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.mat-dialog-actions {
    justify-content: flex-end;
    padding: 10px;
}

.mat-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.mat-button:hover {
    background-color: #3e8e41;
}

.form{
    display: flex;
    flex-flow: column wrap;
}