<section class="paginaprincipal">

  <article class="project">

    <div class="imagen-wrap">
      <img routerLink='../tiempo' src="../assets/tiempo.PNG" alt="">
    </div>

    <div class="project-info">
      <p class="titulo">WeatherApp</p>
    </div>
  </article>

  <article class="project">
    <div class="imagen-wrap">
      <img routerLink='../banderas' src="../../../../assets/banderas.PNG" alt="">
    </div>

    <div class="project-info">
      <p class="titulo">Banderas</p>
    </div>
  </article>

  <article class="project">
    <div class="imagen-wrap">
      <img routerLink='../tareas/tareas' src="../assets/tareas.PNG" alt="">
    </div>
    <div class="project-info">
      <p class="titulo">TareasApp</p>
    </div>
  </article>


  <article class="project">
    <div class="imagen-wrap">
      <img routerLink='../gifss' src="../assets/dragonball.PNG" alt="">
    </div>

    <div class="project-info">
      <p class="titulo">GiffApp</p>
    </div>
  </article>

  <article class="project">
    <div class="imagen-wrap">
      <img src="../../../../assets/mapas.PNG" alt="">
    </div>

    <div class="project-info">
      <p class="titulo">MapsApp</p>
    </div>
  </article>

</section>