


.titulo{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-family: monospace;
}


.formulariologin{
    padding: 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.inputusuario{
    width: 50%;
}

.inputcontrasena{
    width: 50%;
}

.ingresarregistro{
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
}


.botonlogin{
    flex-basis: 25%;
    display: flex;
}

.registrarse{
    flex-basis: 75%;
    display: flex;
    justify-content: start;
}