
.card{
    transition: all 300ms;
    background-color: rgba(127, 255, 212, 0.378);
}

.card:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.452);
}

.cardfondo{
    border-radius: 1.5rem;
    background-size: cover;
    background-position: center;
    background-image: url(../../../../assets/nubes_fondo.jpg);
    background-attachment: fixed;


    height: 100%; 
    width: 100%;}