<div class="contactoprincipal">

</div>


<div class="principio">

  <!-- div del header -->
  <header class="header">

      <div class="pepe cero">
        <p class="portafoliotitulo">PORTAFOLIO MANU</p>
      </div>

      <div class="caja primera">
        <a target="_blank" href="https://es.linkedin.com/in/jos%C3%A9-manuel-mosquete-abreu-662691166">
          <img class="redsocial" src="../assets/linkdn.png" alt="">
        </a>
        <a target="_blank" href="https://es.linkedin.com/in/jos%C3%A9-manuel-mosquete-abreu-662691166">
          <img class="redsocial" src="../assets/git.png" alt="">
        </a>
        <a target="_blank" href="https://www.youtube.com/channel/UCtFWc5aTA2W1dUm-TfOqwZg">
          <img class="redsocial" src="../assets/youtube.png" alt="">
        </a>
      </div>

      <div *ngIf="nombreuser" class="caja cuarta perfilylogout">
          <a class="letracuartacaja" href="">
            <p class="nombreusuario">
              <img class="iamgenPerfil" src="../assets/astronauta.png" alt="">{{nombreuser}}
            </p>
          </a>
          <div class="divbotonlogout">
            <button class="botonlogut" (click)="onLogout()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19v-4h2v4h14V5H5v4H3V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm5.5-4l-1.4-1.45L11.65 13H3v-2h8.65L9.1 8.45L10.5 7l5 5z"/></svg>
            </button>
          </div>
      </div>


  </header>

  <!-- div de toda la pagina web-->
  <section class="layout2">

      <section class="barralateral">

        <ul class="list-group" *ngFor="let item of menuItems" >
          
          <li
          class="list-group-item"
          [routerLink]="[item.route]" 
          routerLinkActive="active">
            {{item.name}}
          </li>
        </ul>

      </section>

      <section class="paginaprincipal">
        <router-outlet></router-outlet>
      </section>

  </section>

</div>
