<div class="contactoprincipal">

</div>


<div class="paginacontacto">

    <div class="textos">

        <div class="caja0">
            <span class="mano animated">✌🏻</span>
            Hola, soy Manu
        </div>

        <div class="caja1">
            
            <p>¡Bienvenido a mi portafolio! Soy desarrollador Frontend y actualmente estoy trabajando con Angular.</p>

        </div>
    
        <div class="caja2">
            Me apasiona el desarrollo de aplicaciones web y estoy emocionado de compartir mi trabajo contigo.
        </div>

    </div>

    <div class="imagen3">
        <img  src="../../../../assets/avatar (1).png" alt="">
    </div>
</div>

<div class="tituloherramientas">

    <div class="tituloherramientas1">   
        <h2>ANGULAR</h2>
    </div>

    <div class="tituloherramientas1">   
        <h2>PHP</h2>
    </div>

    <div class="tituloherramientas1">   
        <h2>CSS</h2>
    </div>

    <div class="tituloherramientas1">   
        <h2>HTML</h2>
    </div>

    <div class="tituloherramientas1">   
        <h2>JAVASCRIPT</h2>
    </div>

    <div class="tituloherramientas1">   
        <h2>TYPESCRIPT</h2>
    </div>

</div>






