/* You can add global styles to this file, and also import other style files */

html, body { 
    height: auto;
    cursor:crosshair;
}
body { margin: 0;  }

/* ESTILOS PARA LOS SNACKBAR */
.custom-snackbar-rojo {
    background-color: #ff4040;
    color: white;         
    font-size: 16px;      
    text-align: center;   
    padding: 5px;
    border-radius: 0.8rem;
}

.custom-snackbar-verde {
    background-color: #04ee18; 
    color: rgb(23, 244, 3);           
    font-size: 16px;       
    text-align: center;    
    padding: 5px;
    border-radius: 0.8rem;
}

.custom-snackbar-azul {
    background-color: #0019f3; 
    color: white;          
    font-size: 16px;         
    text-align: center;       
    padding: 5px;
    border-radius: 0.8rem;
}


.custom-snackbar-amarillo {
    background-color: #fff704; 
    color: white;           
    font-size: 16px;          
    text-align: center;      
    padding: 5px;
    border-radius: 0.8rem;
}

