

<mat-card class="card">

  <div class="row d-flex justify-content-center">

    <mat-card-header>
      <img mat-card-image src="{{url}}{{result.icon}}@2x.png" alt="">
    </mat-card-header>

    <mat-card-content>

      <mat-card-content class="mt-3">

        <!-- Slice para limitar el número de caracteres a mostrar -->
        <p class="texto1"><strong>{{result.name | slice:0:17}}</strong></p>
        <hr class="hr">
        <p class="texto2">{{result.weatherdescripcion}}</p>
        <hr class="hr">
        <p class="texto1"><strong>{{result.tem}} ºC</strong></p>
        <hr class="hr">
        <p class="texto2"><strong>{{result.temp_min}}ºC - {{result.temp_max}}ºC</strong></p>

      </mat-card-content>

    </mat-card-content>

  </div>

</mat-card>
